#header1{
    background-color: rgba(23,82,172,255) ;
}
#foto1{
    height: 170px;
    width: 100px;
    border: 5px solid rgba(23,82,172,255);
    border-radius: 5%;
    padding: center;
}
#barra1{
    background-color: rgba(186,214,254,255);
}
