<ion-header [translucent]="true" >
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hoja de vida</ion-title>    
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-5></ion-col>
      <ion-col col-2>
        <ion-img
        src="/assets/foto1.jpeg"
        alt="" id="foto1"
        >
        </ion-img>
      </ion-col>
      <ion-col col-5></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 id="barra1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item-group>
            <ion-item-divider>
              <ion-label> Datos personales </ion-label>
            </ion-item-divider>        
            <ion-item>
              <ion-label>Manuel José García Quimbayo</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>22 años</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Cel: 3164417928</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Correo: mgarcia64@soy.sena.edu.co</ion-label>
            </ion-item>
          </ion-item-group>
        
          <ion-item-group>
            <ion-item-divider>
              <ion-label> Educación </ion-label>
            </ion-item-divider>
        
            <ion-item>
              <ion-label>Secundaria: Inem Mauel Murillo Toro </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Tecnólogo en análisis y desarrollo de software: SENA </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Estudiante de matemáticas: universidad FJDC</ion-label>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 id="barra1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/depositphotos_68092891-stock-photo-advanced-calculus.jpg" />
          <ion-card-header>
            <ion-card-title>Mi personalidad</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Soy una persona fascinante y multifacética. Mi inteligencia destaca, ya que poseo una capacidad innata 
            para comprender rápidamente las cosas y encontrar soluciones creativas a los 
            desafíos que se me presentan. Mi mente ágil y perspicaz es un verdadero tesoro, 
            y mi sed de conocimiento me impulsa a explorar constantemente nuevos campos y adquirir 
            nuevas habilidades.
            <br>
            Además de mi intelecto, mi habilidad social es encomiable. Me desenvuelvo con facilidad 
            en distintos entornos sociales, mostrando un encanto natural que atrae a las personas hacia
             mí. Mi habilidad para establecer conexiones significativas y genuinas con aquellos que 
             me rodean es evidente, y disfruto participando en conversaciones estimulantes y 
             enriquecedoras.
            <br>
            La puntualidad y la responsabilidad son principios fundamentales en mi vida. 
            Soy alguien en quien los demás pueden confiar plenamente, ya que siempre cumplo 
            mis compromisos y llego a tiempo a mis citas y reuniones. Mi disciplina y mi 
            capacidad para organizar mi tiempo de manera eficiente son admirables, 
            lo que me permite cumplir con mis responsabilidades sin dificultad.
            <br>
            La solidaridad es una de mis cualidades más destacadas. Me preocupo 
            genuinamente por el bienestar de los demás y siempre estoy dispuesto 
            a tender una mano a aquellos que lo necesitan. Mi naturaleza solidaria 
            me lleva a participar activamente en acciones y proyectos que buscan hacer 
            del mundo un lugar mejor. Mi generosidad y mi capacidad para empatizar con 
            los demás me convierten en un apoyo invaluable para quienes me rodean.
            <br>
            Es importante mencionar que también poseo una pizca de presunción, 
            lo cual demuestra que valoro mi apariencia y mi sentido de estilo personal. 
            Me gusta presentarme de la mejor manera posible y cuidar mi imagen. 
            Si bien esta cualidad puede ser interpretada de diferentes formas, 
            en mi caso se equilibra con mi empatía y mi capacidad para apreciar la belleza 
            y el estilo en los demás.
            <br>
            En resumen, mi personalidad se caracteriza 
            por una combinación única de inteligencia, sociabilidad, 
            puntualidad, responsabilidad, solidaridad, presunción y empatía. 
            Soy una persona completa y fascinante, capaz de impactar positivamente 
            en mi entorno y de dejar una huella duradera en las vidas de quienes me rodean.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-2>
        <ion-button >
          Proyectos
        </ion-button>
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-2>
        <ion-button >
          Multimedia
        </ion-button>
      </ion-col>
      <ion-col col-3></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
